<div class="container-fluid">
    <div id="inicio" class="row justify-content-start align-items-center cuadrado1">
        <div class="col-lg-4 offset-lg-2">
            <div class="p-3 border bg-light  shadow p-3 mb-5 bg-body rounded">
                <h1 style="font-family:Montserrat ; font-size:36px;">Productos aptos para celiacos</h1>
                <p style="font-family:Montserrat;">La mejor forma de evitar la contaminacion cruzada! Suscribete
                    para recibir novedades :</p>
                <form class="form-floating" style="font-family:Montserrat;" action="/" method="post">
                    <input type="email" class="form-control" style="font-family:Montserrat;" id="floatingInputValue"
                        placeholder="name@example.com" value="test@example.com" name="email">
                    <label for="floatingInputValue" style="font-family:Montserrat;">E-mail</label>
                    <div class="row boton">
                        <div class="col-12">
                            <button class="btn btn-primary " type="submit"
                                style="font-family:Montserrat; background-color: lightsteelblue; border-color: lightsteelblue; margin-top: 20px;">
                                Enviar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="QuienesSomos" class="row  cuadrado4">
    <div class="col-lg-2 col-md-1 offset-lg-2 d-none d-sm-block">
        <img src="images/gluten.png" alt="historia 1" class="img-fluid">
    </div>
    <div class="col-lg-4 col-md-6 mt-4 mt-sm-0">
        <h2 style="font-family:Montserrat ; font-size:larger; font-weight: bolder; "> Quienes Somos</h2>
        <p style="font-family:Montserrat ;"> Luego de lidiar con los problemas que se generan en el día a día para
            los celiacos, nos propusimos encontrar una idea innovadora que nos permita romper con esas barreras
            diarias que enfrentamos y encontrar una solución. Esta se basa en por un lado nuestro productos
            individualmente, y por el otro una suscripción a un envío mensual de productos + descuentos exclusivos
            con restaurantes aptos para celiacos. </p>
    </div>
</div>
</div>

<div id="productos" class="container nosotros" style="font-family:Montserrat ;">
    <div class="row cuadrado3" style="font-family:Montserrat ;  font-weight: bolder; ">
        <h2 style="font-family:Montserrat ; font-weight: bolder; ">Nuestros Productos</h2>
    </div>
    <div class="row">
        <div id="home" class="row justify-content-evenly align-items-center gx-4 cuadrado2">
            <div class="card" style="width: 20rem; ">
                <img src="images/SobreHorno.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Sobre para horno</h5>
                    <p class="card-text">Sobre apto para microondas reutilizable hasta 50 usos con un tamaño de 36cm
                        x 34cm incluyendo la solapa. Son antiadherentes y te permiten cocinar o calentar alimentos
                        sin miedo a la contaminación cruzada. Las puedes lavar fácilmente con agua y jabón o en el
                        lavavajillas.</p>
                    <a href="#" class="btn btn-primary"
                        style="font-family:Montserrat; background-color: lightsteelblue; border-color: lightsteelblue;">Agregar
                        al Carrito</a>
                </div>
            </div>
            <div class="card" style="width: 20rem;">
                <img src="images/sobremicro.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Sobre para Microondas</h5>
                    <p class="card-text" stlye="font-size:small">Sobre apto para microondas reutilizable hasta 50
                        usos con un tamaño de 25cm x 34cm incluyendo la solapa. Son antiadherentes y te permiten
                        cocinar o calentar alimentos sin miedo a la contaminación cruzada. Las puedes lavar
                        fácilmente con agua y jabón o en el lavavajillas.</p>
                    <a href="#" class="btn btn-primary"
                        style="font-family:Montserrat; background-color: lightsteelblue; border-color: lightsteelblue;">Agregar
                        al Carrito</a>
                </div>
            </div>
            <div class="card" style="width: 20rem;">
                <img src="images/bolsatost.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Bolsa para Tostadora</h5>
                    <p class="card-text">Bolsa apta para tostadora reutilizable hasta 50 usos con un tamaño de 16
                        x16,5 cm. Son antiadherentes y te permiten cocinar o tostar alimentos sin miedo a la
                        contaminación cruzada. Las puedes lavar fácilmente con agua y jabón o en el lavavajillas.
                    </p>
                    <a href="#" class="btn btn-primary"
                        style="font-family:Montserrat; background-color: lightsteelblue; border-color: lightsteelblue;">Agregar
                        al Carrito</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="Contactanos" class=" row py-4 cuadrado5">
    <div class="col-md-4 offset-md-2">
        <div class="mapa">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3286.2191655827855!2d-58.44913258477188!3d-34.548005880473895!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb430ebd761df%3A0xe3c33a8b19ce6c7!2sUniversidad%20Torcuato%20Di%20Tella!5e0!3m2!1ses!2sar!4v1665576286055!5m2!1ses!2sar"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade">
            </iframe>
        </div>
    </div>
    <div class="col-md-4 mt-4 mt-sm-0">
        <h2 style="font-family:Montserrat ; font-weight: bolder; ">Contactanos</h2>
        <form class="row g-3" action="/" method="post">
            <div class="col-md-6">
                <label for="inputName" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="inputName" name="nombre">
            </div>
            <div class="col-md-6">
                <label for="inputLN" class="form-label">Apellido</label>
                <input type="text" class="form-control" id="inputLN" name="apellido">
            </div>
            <div class="col-12">
                <label for="inputAddress" class="form-label">Email</label>
                <input type="text" class="form-control" id="inputEmail4" placeholder="...@gmail.com" name="email">
            </div>
            <div class="col-12">
                <label for="inputtelefono" class="form-label">Telefono</label>
                <input type="text" class="form-control" id="inputEmail4" placeholder="+54911......" name="telefono">
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary"
                    style="font-family:Montserrat; background-color: lightsteelblue; border-color: lightsteelblue; margin-top: 20px;">Enviar</button>
            </div>
        </form>
    </div>
</div>