
p{
color:grey;
font-family:Georgia;
font: size 22px;
text-align:justify;
font-style:idalic;
}

img{
    filter: drop-shadow(34px 10px 5px #000000);
    -webkit-filter: drop-shadow(34px 10px 5px #000000);
    -moz-filter: drop-shadow(34px 10px 5px #000000);
}

h1{
    text-shadow: 12px 10px 6px rgba(192,111,177,0.6);
    color:darkmagenta;
    font-family:Georgia;
    font-weight:bold;
    background-color: aliceblue;
}

h2{
    color:mediumvioletred;
    font-family: georgia;
font-style:italic;
}

h3{
    font-family:georgia;
    color:darkgrey;
}

